@import "tailwindcss";

:root {
  --background: #F4F4F1;
  --foreground: #000000;
  --color-white: #ffffff;
  --color-blue-500: #1784EF;
  --color-blue-600: #107AE5;
  --color-grey-200: #E8E8ED;
  --color-grey-300: #DDDDE4;
  --color-grey-400: #A6A6A6;
  --color-grey-500: #888788;
  --color-grey-600: #838386;
  --color-grey-700: #5C5C5C;
  --color-red: #FF746C;
}

@theme inline {
  /* color */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-white: var(--color-white);
  --color-description: var(--color-grey-400);
  --color-placeholder: var(--color-grey-500);
  --color-btn-primary: var(--color-blue-500);
  --color-btn-primary-hover: var(--color-blue-600);
  --color-btn-primary-disabled: var(--color-grey-400);
  --color-btn-secondary: var(--color-grey-200);
  --color-btn-secondary-hover: var(--color-grey-300);
  --color-caret: var(--color-blue-500);
  --color-scroll-thumb: var(--color-blue-500);
  --color-scroll-thumb-hover: var(--color-blue-600);
  --color-error: var(--color-red);

  /* font */
  --font-inter: var(--font-inter);
  
  /* shadow */
  --shadow-soft-lg: 0px 16px 28px 0px rgba(0, 0, 0, 0.08);
  --shadow-inset-1px: inset 0 0 1px rgb(0, 0, 0, 0.11);

  /* border color */
  --color-opacity-10: rgba(0, 0, 0, 0.1);

  /* animation */
  --animate-spin: spin 1s linear infinite;

  /* keyframes */
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

@utility scrollbar-hidden {
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@utility mask-gradient {
  -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 10%, black 90%, transparent 100%);
  mask-image: linear-gradient(to bottom, transparent 0%, black 10%, black 90%, transparent 100%);
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}

@utility rounded-group {
  > *:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  > *:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}